body {
    font-family: sans-serif;
    background-color:#ffffcc;
    color: black
}


.main-window {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column
}

.main-window .header {
    background-color: #aaff80;
    font-size: 24px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2px;
}

.main-window .header input[type=button]{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    background-color: #ffa64d
}

.main-window .header input[type=button]:hover{
    background-color: #ff8000;
}

.task-list {
    margin: 0 auto;
    width: 80%;
    padding: 0px;
}

.task-list li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background:#ffff99;
    font-size: 16px;
    transition: 0.2s;
    list-style-type: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #ffff66;
}
ul li:hover {
    background: #ffd11a;
}

ul li.checked {
    background: #aaff80;
    text-decoration: line-through;
    text-decoration-color: red;
}

.task-create-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.task-create-container .wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.task-create-container .wrap .task-create-field {
    font-size: 20px;
    resize: none;
    position: relative;
    height: 90%; 
    border: 1px solid black;
}

.task-create-container .wrap div {
    justify-content: space-between;
    display: flex;
    flex-basis: 30px;
}

.task-create-container .wrap div input[type=button] {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    background-color: #ffa64d
}

.task-create-container .wrap div input[type=button]:hover {
    background-color: #ff8000;
}


.delete-task {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}