body{
    font-family: sans-serif;
    background-color: burlywood;
    width: 100%;
    height: 100%;
}

.title{
    text-align: center;
}

.control-panel {
    display: flex;
    padding: 10px;
    margin: 10px 0;
    background-color: beige;
}

.dropdown-figures {
    position: relative;
    display: inline-block;
}

.dropdown-figures .dropdown-figures-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid black;
}

.dropdown-figures .dropdown-figures-content .dropdown-figures-content-item {
    padding: 3px;
}

.dropdown-figures .dropdown-figures-content .dropdown-figures-content-item:hover {
    background-color: green;
}

.dropdown-figures:hover .dropdown-figures-content {
    display: block;
}

.tab-controller {
    display: flex;
}

.tab-panel {
    display: flex;
}

.tab-wrapper {
    width: 100px;
    border: 1px solid black;
}

.tab-wrapper .tab {
    width: 70%;
}

.canvas-wrapper{
    position: relative;
    background-color: white;
    height: 600px;
}

.paint-tab {
    width: 300px;
    height: 300px;
    background-color: white;
}

.canvas-wrapper .layer2 {
    display: none;
}

.current-status {
    display: flex;
}

.current-status .current-color {
    width: 30px;
    height: 10px;
}

.current-status p {
    padding: 0 2px;
    margin: 0;
}