.main-block{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border: 1px solid black;
}
.error-block p{
    color:red;
    height: 14px;
}

.inputs-block{
    padding : 5px 0 5px 0;
    display: flex;
    justify-content: space-around;
}

.inputs-block .inputs-block__item{
    margin-left: 5px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid black;
}

.table-block{
    display: flex;
    flex-direction: column;
}

.table-block .table-block__header {
    display: flex;
    justify-content: space-around;
}
.table-block__body{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    margin-bottom: 5px;
}

.table-block .table-block__body .table-block__raw {
    display: flex;
    justify-content: space-around;

}

.crud-block{
    padding : 5px 0 5px 0;
    display: flex;
    justify-content: space-around;
}

.crud-block .control-btn {
    width: 150px;
    height: 25px;
    background-color: #fffd6f;
    border: 1px solid black;
}

.crud-block .control-btn:hover {
    background-color: #ffb753;
}

.storage-block{
    padding : 5px 0 5px 0;
    display: flex;
    justify-content: space-around;
}

.storage-block .storage-btn{
    color: #fff;
    width: 150px;
    height: 25px;
    background-color: #0f5d0a;
    border: 1px solid black;
}

.storage-block .storage-btn:hover{
    background-color: #20a20b;
}
