.main_window{
    /*border-radius: 5px;*/
    /*padding: 5px;*/
    margin: 0 auto;
    width: 30%;
    height: 50%;
}

.top{
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding-bottom: 2%;
}

.control{
    display: grid;
    grid-template-columns: 70% 30%;
    /*border: 1px solid black;*/
}

.numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    /*border: 1px solid black;*/
}
.operations{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
input[type=button]{
    /*width: 30%;*/
    padding: 4px;
}